* {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;

  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
/* Core Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 127px 32px 20px;
  background: rgb(25, 25, 25);
  color: #fff;
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
}

.logo h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.logo h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
nav ul li:first-child a {
  color: red;
}
nav ul li a:hover {
  color: white;
}
/* Hamburger Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
}

.wowImg {
  width: 100vw;
}
.video_section {
  text-align: center;
  margin-top: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_section h1 {
  font-weight: normal;
  font-size: 52px;
  color: #2f2e2e;
  position: relative;
  margin: 20px 0px 20px 0px;
}

.video_div {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 851px;
  height: 479px;
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.87);
}

.thumbnail_overlay {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.thumbnail_overlay img {
  width: 100%;
  border-radius: 8px;
}

.play_icon {
  position: absolute;
  font-size: 80px;
  color: white;
  border-radius: 50%;
  border: 2px solid white;
  padding: 20px;
  transition: 0.3s;
  background: none;
}

.proposalbtn {
  background-color: black;
  color: white;
  padding-inline: 14px;
  padding-block: 14px;
  border: none;
  outline: none;
  font-size: 20px;
}
.proposalbtn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  cursor: pointer;
}
.bottom_section {
  margin-top: 40px;
  background-color: black;
}
.bottom_section .video {
  height: 70vh;
}
.quote {
  color: white;
  margin-top: 75px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote h3 {
 overflow: hidden;
     font-size: 47px;
    line-height: 1.1em;
  width: 67%;
  font-weight: 400;
  text-align: left;
}
.quote .quotePara {
  font-size: 28px;
  margin-top: 70px;
  width: 60%;
  text-align: left;
  margin-left: -160px;
}
.protest {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}
.protest .dateImg{
 height: 151px;
  width: 888px;
  margin-block: 25px;
}
.protest div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.protest div p {
  font-size: 20px;
  width: 53%;
      line-height: 1.5em;
  margin-top: 20px;
}
.sourcepara {
  justify-self: center;
  font-size: 12px;
  margin-top: 20px;
  align-self: flex-end;
  width: 35%;
  padding-right: 30px;
  text-align: left;
  margin-right: 80px;
  margin-bottom: 20px;
}
.videoGala {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  /* height: 80vh; */

  /* for mobile responsiveness */
}

.video_box {
  width: 70%;

  /* height: 70%; */
  position: relative;
}
.videoGalaPara {
  position: absolute;
  color: white;
  z-index: 12;
  font-size: 1.75rem;
  width: 18%;
  left: 5%;
  top: 30%;
}
.brochure_box {
  position: absolute;
  width: 250px;
  right: 14%;
  top: 07%;
  z-index: 12;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video_box video {
  width: 100%;

  z-index: 1;
}

.video_overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.video_overlay img {
  width: 100%;
  border-radius: 8px;
}

.play_icon {
  position: absolute;
  font-size: 60px;
  color: white;
  border-radius: 50%;
  padding: 15px;
}

.brochure_box img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.download_btn {
  color: white;
  text-decoration: none;
  font-size: 22px;
  margin-left: 60px;
}

footer {
  padding: 30px 40px 80px 40px;
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: rgb(135, 135, 135);
}

.btnToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.btnToTop svg {
  width: 70px;
  height: 70px;
  padding: 9px;
  border-radius: 7px;
  /* background: #6e6e6e; */
  fill: #c2c2c2;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background: transparent;
}

.btnToTop svg:hover {
  background: #222222;
  fill: #d1d1d1;
}
/*MEDIA QUERIES*/

/* Responsive Styles */
@media (max-width: 888px) {
  .menu-toggle {
    display: flex;
  }

  nav {
    display: none;
    width: 100%;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(25, 25, 25);
    width: 100%;
    padding: 10px 0;
  }

  nav ul li {
    padding: 10px 20px;
    width: 100%;
  }
  .video_section h1 {
    font-size: 50px;
  }
  .protest div p {
    width: 60%;
    font-size: 18px;
  }
  .quote h3 {
    width: 70%;
  }
}
@media (max-width: 600px) {
  .logo h1 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
  }

  .logo h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
  .video_section h1 {
    font-size: 35px;
  }
  .protest div p {
    width: 90%;
  }
  .quote h3 {
    width: 90%;
  }
  .sourcepara {
    margin-top: 20px;
    width: 80%;
    margin-bottom: 20px;
  }
  .protest h4 {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .video_div {
    height: 50vh;
  }
  .protest h1 {
    font-size: 10vw;
  }
}
@media (max-width: 420px) {
  header {
    padding: 20px;
  }
  .menu-toggle {
    margin-top: 20px;
  }
  .logo h1 {
    font-size: 18px;
  }
  .video_section h1 {
    font-size: 25px;
  }
  .video_div {
    height: 40vh;
  }
}
