* {
  font-family: Tahoma;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100vw;

  overflow-x: hidden;
}
body {
  background-color: black;
  color: white;
}
a {
  color: white;
  text-decoration: none;
}
/* Core Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 127px 32px 20px;
  background: rgb(25, 25, 25);
  color: #fff;
  position: relative;
  flex-wrap: wrap;
  width: 100vw;
}

.logo h1 {
  font-weight: 400;
  font-size: 36px;
  margin: 0;
}

.logo h3 {
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

nav ul li:nth-child(2) a {
  color: red;
}
nav ul li a:hover {
  color: white;
}
/* Hamburger Button */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.menu-toggle .bar {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
}

main {
  color: white;
}
.firstDiv {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.firstDiv img {
  width: 33%;
}
.firstDiv h1 {
  margin-top: 20px;
  font-size: 58px;
  font-weight: 300;
}
.firstDiv h4 {
  font-size: 32px;
  font-weight: 400;
  margin-top: 15px;
  margin-bottom: 50px;
}
.secondDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.secondDiv div {
  position: relative;
  padding-top: 60px;
  width: 200px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.secondDiv div p {
  width: 75%;
  font-size: 16px;
  text-align: center;
  line-height: 1.3em;
}
.secondDiv div img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.secondDiv div h5 {
  width: 100%;
  background-color: rgb(241, 107, 107);
  font-size: 23px;
  position: relative;
  bottom: -46px;
  padding-bottom: 16px;
  font-weight: 300;
  z-index: -1;
}
/* .secondDiv .one {
  background: url(./assets/one.avif) no-repeat center center;
  background-size: contain;
}
.secondDiv .second {
  background: url(./assets/two.avif) no-repeat center center;
  background-size: contain;
}
.secondDiv .third {
  background: url(./assets/three.avif) no-repeat center center;
  background-size: contain;
}
.secondDiv .fourth {
  background: url(./assets/four.avif) no-repeat center center;
  background-size: contain;
} */
.thirdDiv {
  display: flex;
  justify-content: center;
  align-items: top;
  margin-bottom: 20px;
  gap: 20px;
}
.thirdDiv img {
  width: 328px;
  height: 500px;
}
.thirdDiv div {
  width: 600px;
}
.thirdDiv div .headings {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}
.headings h6 {
  font-size: 19px;
  font-weight: 300;
  margin-bottom: 30px;
}
.headings h3 {
  font-weight: 400;
  font-size: 32px;
  margin-bottom: 5px;
}
.money {
  margin-top: 100px;
}
.money div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.money div div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}
.money div div h5 {
  font-size: 42px;
  font-weight: normal;
  color: #a3d9f6;
}
.money div div p {
  font-size: 19px;
}
.money p {
  font-size: 16px;
}
.fourthDiv {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.fourthDiv div {
  width: 620px;
  display: flex;
  flex-direction: column;
}
.fourthDiv div h2 {
  font-size: 58px;
  font-weight: normal;
  margin-bottom: 50px;
}
.fourthDiv div p {
  font-size: 19px;
  line-height: 30px;
}
.fourthDiv img {
  height: 400px;
}

.fifthDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fifthDiv img {
  width: 55%;
  margin-block: 85px;
}
.paroDad {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  margin-top: 40px;
}
.paroSon {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.paroSon h3 {
  font-size: 33px;
  font-weight: 400;
}
.paroSon h4 {
  font-family: fahkwang, sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #a3d9f6;
}
.paro1 {
  font-family: fahkwang, sans-serif;
  font-size: 19px;
  color: #cecece;
  margin-bottom: 20px;
}
.paro2 {
  font-size: 27px;
  color: #ccc;
  margin-block: 5px;
}

.paro3 {
  font-size: 27px;
  color: #ccc;
  margin-block: 5px;
}
.paroMom {
  margin-top: 45px;
  font-size: 24px;
  width: 55%;
}
.sixDiv {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sixDiv img {
  width: 55%;
  margin-block: 40px;
}
.sixDiv div {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.sixDiv div div {
  display: flex;
  padding-inline: 20px;
  flex-direction: column;
}
.oneDiv {
  width: fit-content;
  text-align: center;
}
.oneDiv div h3 {
  font-size: 33px;
  font-weight: 300;
}
.oneDiv div p {
  color: #ccc;
  font-size: 23px;
}

.twoDiv {
  width: fit-content;
  text-align: center;
}
.twoDiv div h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
}
.twoDiv div p {
  text-align: center;
  color: #ccc;
  font-size: 22px;
}
.colorit {
  font-family: fahkwang, sans-serif;
  font-size: 42px;
  font-weight: 300;
  color: #a3d9f6;
  margin-top: 20px;
}
.sevenDiv {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sevenDiv img {
  margin-top: 60px;
  width: 70%;
}
.sevenDiv div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin-top: 80px;
}
.sevenDiv div img {
  width: 30%;
  height: 150px;
}
.sevenDiv .bannerDiv p {
  color: #cecece;
  width: 30%;
  font-size: 22px;
  line-height: 30px;
  margin-top: 80px;
  text-align: center;
}
.sevenDiv .downDiv {
  margin-top: 130px;
}
.downP {
  width: 46%;
  text-align: center;
  font-size: 15px;
}

.eightDiv {
  margin-top: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}
.eightDiv img {
  margin-top: 50px;
  width: 40%;
}
.eightDiv .eightContainer {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  width: 65%;
  gap: 45px;
  justify-content: center;
  /* align-items: center; */
}
.eightContainer .containerA {
  width: 55%;
  font-size: 18px;
  line-height: 30px;
}
.containerA img {
  width: 100%;
}
.containerA p {
  font-size: 18px;
  line-height: 30px;
}
.containerB {
  width: 50%;

  line-height: 30px;
}
.containerB p {
  font-size: 16.5px;
}
.containerB img {
  width: 100%;
  margin-top: 0;
}

.nineDiv {
  padding: 40px 20px 60px 100px;
  color: black;
  background-color: rgb(191, 191, 191);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.nineA {
  padding-left: 60px;
  margin-bottom: 40px;
  text-align: left;
}
.nineA h3 {
  font-size: 60px;
  font-weight: 400;
  text-align: center;
}
.nineA p {
  text-align: center;
  font-size: 22px;
  margin-top: 6px;
}
.nineB {
  /* width: 70%; */
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-inline: 80px;
  align-items: center;
}
.nineBA {
  width: 39%;
}
.nineBA p {
  font-size: 15px;
  line-height: 1.8em;
  text-align: center;
  word-spacing: 5px;
}
.nineBB {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
  /* justify-content: ; */

  width: 50%;
}
.nineBB img {
  width: 80%;
  margin: auto;
}

.tenDiv {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  background-color: white;
  color: black;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 185px;
}
.tenA {
  width: 80%;
}
.tenA h4 {
  font-size: 64px;
  font-weight: 500;
}
.tenA h5 {
  margin-top: 5px;
  font-size: 45px;
  font-weight: 400;
}
.tenA p {
  width: 66%;
  margin-top: 13px;
  font-size: 22px;
  line-height: 1.3em;
}
.tenB {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
}
.tenB img {
  width: 500px;
  height: 250px;
  outline: 2px solid #cecece;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow */
  border-radius: 8px; /* Optional: smooth corners */
}

.tenB p {
  text-align: left;
  width: 50%;
  font-size: 18px;
  line-height: 1.6em;
}

.tenC {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  gap: 20px;
}
.tenC img {
  width: 500px;
  height: 250px;
  outline: 2px solid #cecece;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* Shadow */
  border-radius: 8px; /* Optional: smooth corners */
}
.tenC p {
  text-align: left;
  width: 50%;
  font-size: 18px;
  line-height: 1.6em;
}
.elDiv {
  background: rgb(191, 191, 191);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: black;
}
.elA {
  width: 70%;
  margin-block: 70px;
}
.elA h1 {
  font-size: 70px;
  font-weight: 400;
}
.elB {
  width: 75%;
  display: flex;
  gap: 40px;
  padding-bottom: 50px;
}

.elBA img {
  width: 470px;
}
.elBA p {
  font-size: 19px;
  line-height: 1.8em;
  margin-bottom: 20px;
}
.elBA img {
  width: 450px;
  margin-left: 20px;
}
.canim {
  font-size: 12px;
  text-align: center;
  color: #222222;
  width: 85%;
}
.elBB {
  width: 120%;
}
.elBB p {
  font-size: 18px;
  line-height: 2em;
  width: 100%;
}
.telDiv {
  margin-top: 85px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
}
.telDiv .telA {
  width: 50%;
}
.telA img {
  width: 85%;
}
.telA p {
  font-size: 23px;
  text-align: center;
  width: 89%;
  margin-block: 50px;
}
.telB {
  display: flex;
  gap: 40px;
  width: 50%;
}
.telB img {
  width: 40%;
}

.thirDiv {
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}
.thirA {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.thirA div {
  z-index: 12;
}
.thirA div h1 {
  font-size: 56px;
  font-weight: 400;
  z-index: 12;
}
.thirA div p {
  width: 53%;
  font-size: 19px;
  line-height: 30px;
  margin-top: 5px;
}
.thirA img {
  position: absolute;
  right: -50px;
  bottom: 20px;
  z-index: 1;
  width: 536px;
  right: -80px;
}
.planBtn {
  padding: 10px 40px 10px 40px;
  background-color: black;
  color: white;
  outline: none;
  font-size: 18px;
}
.planBtn:hover {
  background-color: white;
  color: black;
}
.planBtn:hover a {
  color: black;
}
.paro a {
  text-decoration: none;
  color: black;
}
.fourtDiv {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  padding-left: 15px;
}
.fourtDiv .aikDiv {
  margin: 130px 0px 47px calc((100% - 980px) * 0.5);
  width: fit-content;
}
.fourtDiv .doDiv {
  position: relative;
  margin: 0px 0px 58px calc((100% - 980px) * 0.5);
  /* left: 47px; */
  width: 30%;
  height: 40%;
}
.doDiv p {
  font-size: 21px;
}
.aikDiv h1 {
  font-size: 58px;
  font-weight: 400;
}
.fourtDiv img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
.teenDiv {
  margin: 0px 0px 9px calc((100% - 980px) * 0.5);
  font-size: 19px;
}
.fourdiv {
  position: relative;
  margin: 43px 0px 44px calc((100% - 980px) * 0.5);
  display: flex;
  /* justify-content: center; */

  align-items: center;
  gap: 20px;
}
.fourdiv h5 {
  font-size: 46px;
  font-weight: bold;
}
.fourdiv span {
  font-size: 22px;
  margin: 0px 0px 0px 20px;
}
.varja {
  position: absolute;
  top: 86px;
  left: 217px;
  font-size: 22px;
}
.fivdiv {
  margin: 0px 0px 47px calc((100% - 980px) * 0.5);
  font-size: 22px;
}
.sidiv {
  /* margin: 0px 0px 35px calc((100% - 980px) * 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.sidiv button {
  padding: 10px 15px 10px 15px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  font-size: 23px;
}
.sidiv button:hover {
  padding: 7px 10px 7px 10px;
}
footer {
  padding: 30px 40px 80px 40px;
  text-align: center;
  color: white;
  font-size: 14px;
  background-color: rgb(135, 135, 135);
}
.btnToTop {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.btnToTop svg {
  width: 70px;
  height: 70px;
  padding: 9px;
  border-radius: 7px;
  /* background: #6e6e6e; */
  fill: #c2c2c2;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  background: transparent;
}

.btnToTop svg:hover {
  background: #222222;
  fill: #d1d1d1;
}
@media (max-width: 1090px) {
  .fifthDiv img {
    width: 70%;
  }
  .sixDiv img {
    width: 70%;
  }
  .nineB {
    padding-inline: 0px;
  }
  .tenDiv{
    padding-left: 100px;
  }
  .tenB{
    width: 80%;
  }
  .tenC{
    width: 80%;
  }
}
@media (max-width: 888px) {
  .nineDiv {
    padding: 40px 20px 20px 20px;
  }
  .nineBA {
    width: 65%;
  }
  .nineBB {
    width: 55%;
  }
  .eightDiv .eightContainer {
    width: 80%;
  }
  .paroDad {
    flex-direction: column;
  }
  .firstDiv img {
    width: 50%;
  }
  .fourtDiv h1 {
    font-size: 7rem;
  }
  .fourtDiv .firstPara {
    width: 80%;
  }
  .fourtDiv .secPara {
    margin-block: 20px;
  }
  .gapla {
    width: 80%;
  }
  .thirDiv .thirA {
    width: 95%;
  }
  .telDiv .telA {
    width: 70%;
  }
  .telA img {
    width: 100%;
  }
  .telA p {
    font-size: 25px;
    margin-block: 20px;
  }
  .telB {
    width: 75%;
  }
  .elB {
    width: 95%;
  }
  .tenDiv{
    padding-left: 65px;
  }
  .tenA{
    width: 90%;
  }
  .tenB{
    width: 90%;
  }
  .tenC{
    width: 90%;
  }
  .nineB {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .fifthDiv {
    margin-top: 100px;
  }
  .fifthDiv img {
    width: 80%;
  }
  .fourthDiv {
    flex-direction: column;
    align-items: center;
  }
  .menu-toggle {
    display: flex;
  }
  .thirdDiv {
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
  }
  .thirdDiv div {
    width: 590px;
  }
  .headings h6 {
    font-size: 26px;
  }
  .headings h3 {
    margin-top: 20px;
    font-weight: 600;
  }
  .thirdDiv p {
    font-size: 20px;
  }
  nav {
    display: none;
    width: 100%;
  }

  nav.active {
    display: block;
    width: 100%;
  }

  nav ul {
    flex-direction: column;
    align-items: flex-start;
    background-color: rgb(25, 25, 25);
    width: 100%;
    padding: 10px 0;
  }

  nav ul li {
    padding: 10px 20px;
    width: 100%;
  }
  .secondDiv div {
    width: 210px;
  }
}
@media (max-width: 755px) {
  .tenDiv{
    padding-left: 50px;
  }
  .tenA{
    width: 100%;
  }
  .tenA h4{
    font-size: 60px;
  }
  .tenB{
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
  }
  .tenB p{
    width: 65%;
  }
  .tenB img{
    width: 65%;
  }
  .tenC{
    flex-direction: column;
    align-items: start;
    margin-left: 50px;
  }
  .tenC p{
    width: 65%;
  }
  .tenC img{
    width: 65%;
  }
  .nineDiv {
    padding: 40px 20px 20px 0px;
  }
  .fourtDiv h1 {
    font-size: 5rem;
  }
  .sevenDiv img {
    width: 80%;
  }
  .eightDiv .eightContainer {
    width: 90%;
  }
}
@media (max-width: 650px) {
  .nineA{
    padding-left: 5px;
  }
  .sixDiv div {
    width: 100%;
  }
  .fourtDiv {
    background: url(./assets/moneybg.avif) no-repeat left;
    object-fit: cover;
    padding: 50px 50px 30px 40px;
  }
  .fourtDiv h1 {
    color: white;
  }
  .gapla {
    width: 90%;
  }
  .thirA img {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 0;
  }
  .thirA div h1 {
    font-size: 2.5rem;
  }
  .thirA div p {
    width: 75%;
  }
  .thirA {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 40px;
  }
  .telDiv {
    margin-top: 40px;
  }
  .elB {
    flex-direction: column;
    font-size: 18px;
  }
  .tenA p {
    width: 90%;
  }
  .tenB img {
    width: 90%;
  }
  .tenB p {
    width: 75%;
  }
  .tenC p {
    width: 75%;
  }
  .tenC img {
    width: 90%;
  }
  .nineB {
    width: 100%;
  }
  .nineDiv {
    padding: 21px 0px 4px 0px;
  }
  .nineBA {
    width: 90%;
  }
  .nineBB {
    margin-top: 0px;
    width: 80%;
  }
  .nineB p {
    width: 100%;
  }
  .eightDiv img {
    width: 90%;
  }
  .eightContainer .containerA {
    width: 100%;
  }
  .eightContainer .containerB {
    width: 100%;
  }
  .eightContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sevenDiv {
    margin-top: 0;
  }
  .sevenDiv img {
    width: 95%;
  }
  .sevenDiv div {
    flex-direction: column;
    margin-top: -23px;
  }
  .sevenDiv .bannerDiv p {
    width: 85%;
    margin-top: 30px;
  }
  .downP {
    width: 90%;
    font-size: 27px;
  }
  .sevenDiv div img {
    width: 80%;
  }
  .sixDiv div {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .sixDiv img {
    width: 90%;
  }
  .fifthDiv .paroDad {
    flex-direction: column;
  }
  .fourthDiv div p {
    font-size: 18px;
    width: 90%;
  }
  .firstDiv h1 {
    font-size: 3rem;
  }
  .firstDiv img {
    width: 60%;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .paroMom {
    width: 75%;
  }
  .fifthDiv img {
    margin-block: 40px;
  }
  .money {
    margin-top: 70px;
  }
  .money div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .firstDiv img {
    width: 75%;
  }
  .elA {
    width: 80%;
    margin-bottom: 20px;
  }
  .fourthDiv div {
    padding: 20px;
  }
  .fifthDiv img {
    width: 90%;
  }
  .fourthDiv div h2 {
    font-size: 35px;
  }
  .thirdDiv div {
    width: 90%;
  }
  .logo h1 {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
  }
  .firstDiv h1 {
    font-size: 2.5rem;
  }
  .firstDiv h4 {
    font-size: 1.5rem;
    margin-top: 0;
  }
  .logo h3 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
  }
  .secondDiv div {
    gap: 30px;
  }
  .secondDiv {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .fourtDiv h1 {
    width: 100%;
    font-size: 3rem;
  }
  .fourtDiv .firstPara {
    width: 100%;
  }
  .telDiv .telB {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .telDiv .telB img {
    width: 90%;
  }
  .elA {
    width: 96%;
    font-size: 2.5rem;
  }
  .tenDiv{
    padding-left: 20px;
  }
  .tenA h4 {
    font-size: 41px;
  }
  .tenA h5{
    font-size: 39px;
  }
  .tenA p {
    width: 95%;
  }

  .paro1 {
    font-size: 20px;
  }
  .firstDiv img {
    width: 70%;
  }
  .secondDiv div {
    padding-top: 30px;
  }
  .secondDiv {
    gap: 40px;
  }
  .fourthDiv div p {
    font-size: 18px;
    width: 100%;
  }
  .tenB{
    margin-left: 25px;
  }
  .tenC{
    margin-left: 25px;
  }
  .tenB p{
    width: 90%;
  }
  .tenC p{
    width: 90%;
  }
}
@media (max-width: 420px) {
  .tenA h4 {
    font-size: 2.25rem;
  }
  .tenA h5 {
    font-size: 2.25rem;
  }
  .thirdDiv div {
    width: 95%;
  }
  header {
    padding: 20px;
  }
  .menu-toggle {
    margin-top: 20px;
  }
  .logo h1 {
    font-size: 18px;
  }
  .firstDiv img {
    width: 90%;
  }
  .firstDiv h1 {
    font-size: 2rem;
  }
  .firstDiv h4 {
    font-size: 1rem;
  }
}
